<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOwiSW8ayryNsmir5ZQVVA_w_0ZxlASSA</string>
	<key>GCM_SENDER_ID</key>
	<string>902308281624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aexCms</string>
	<key>PROJECT_ID</key>
	<string>clientone-8a1e7</string>
	<key>STORAGE_BUCKET</key>
	<string>clientone-8a1e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902308281624:ios:2002853bf520cb1bc2f26d</string>
</dict>
</plist>